body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(D:\Project_Github\my-page\src\anh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
}
.main{
background-color:#6c757db4;
opacity: 0.9;
color:aqua;
border-radius: 0 5rem;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}
.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 10px;
    color: aqua;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-mod.btn-border:hover, .btn-mod.btn-border:focus {
    color: #404346;
    border-color: transparent;
    background: #ffe900;
}
.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    
    color: rgba(255,255,255, .85);
    background: #ffe900;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-mod.btn-medium {
    height: auto;
    padding: 10px 20px;
    font-size: 12px;
}
.btn-mod.btn-border {
    color: aqua;
    border: 2px solid #ffe900;
    background: transparent;
        border-radius: 20px;
}
a:focus, a:hover {
    color: #404346;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.btn-send{
    padding: 0.5rem;
    border-radius: 0.5rem;
}